body{
    background-color:rgb(177, 248, 248);
    margin: 0 auto;
    text-align: center;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(204, 102, 255);
    font-weight: bold;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(207, 134, 243);
    font-weight: bold;
}

p{
font-size: 25px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgb(207, 134, 243);
text-align: center;

}

table{
margin: 0 auto;
text-align:center;
max-width: 100%;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 15px;
}

footer{
    margin: 0 auto;
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-decoration: solid;
    color: blueviolet;

}

.rodape img{
    padding-top: 50px;
    padding-bottom: 30px;
    width: 50px;
    height: 50px;

}